*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 제목 */
h2{
    width: 25%;
    padding: .8em 0;
    margin: 1.4em auto;
    /* border-bottom: 1px solid rgb(168, 168, 168); */
}

/* 버튼 */
button{
    padding: .8em 1.2em;
    background-color: #1976d2;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
}

button:hover{
    background-color: #1564b3;
}

button>a{
    color: #fff;
    text-decoration: none;
    /* padding: .8em 1.2em; */
}